Package: com.serena.AppIndex
Name: AppIndex
Version: 1.0f
Architecture: iphoneos-arm64
Description: An Application to view and manage Applications.
Section: Applications
Maintainer: Serena
Author: Serena
